.main_chat
  .main_chat__top
    .main_chat__top__left
      .main_chat__top__left__middle
        = @group.name
        %p.name_bottom 
          Member : 
          - @group.users.each do |user|
            = user.name

    .main_chat__top__right
      .main_chat__top__right__middle
        = link_to edit_group_path(@group), class:"name" do
          %p.name Edit

  .main_chat__middle
    .messages
      = render @messages
  = form_for [@group, @message] do |f|
    .main_chat__bottom
      .main_chat__bottom__form
        .input-box
          = f.text_field :content, class: 'input-box__message', placeholder: 'type a message'
          = f.label :image, class: 'input-box__message__btn' do
            %i.fas.fa-image.input-box__message__btn-img
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'main_chat__bottom__send'


         